@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.panel-tabs {
  justify-content: flex-start;
}

.panel-block:not(.is-active) {
  display: none;
}

.panel-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
